USE [OnlineRestaurant]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CategoryDescritpion] [nvarchar](200) NOT NULL,
	[CategoryImagePath] [nvarchar](150) NOT NULL,
	[CategoryStatus] [bit] NOT NULL,
	[CategoryDiscount] [int] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[DeliveryId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[AssignedOn] [datetime2](7) NOT NULL,
	[ExpectedOn] [datetime2](7) NULL,
	[DeliveryStatus] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Delivery] PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryAddress]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryAddress](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AddressLine1] [nvarchar](200) NOT NULL,
	[AddressLine2] [nvarchar](200) NULL,
	[City] [nvarchar](80) NOT NULL,
	[State] [nvarchar](80) NOT NULL,
	[Pincode] [nvarchar](10) NOT NULL,
	[Landmark] [nvarchar](120) NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](120) NULL,
	[Phone] [nvarchar](20) NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[FeedbackImagePath] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Mobile] [nvarchar](10) NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
	[RemarksByAdmin] [nvarchar](300) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodItem]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItem](
	[ItemId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ItemTypeId] [int] NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[ActualPrice] [int] NOT NULL,
	[Rating] [decimal](2, 1) NOT NULL,
	[RatingBy] [int] NOT NULL,
	[ItemImagePath] [nvarchar](100) NOT NULL,
	[ItemDescription] [nvarchar](300) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
	[IsBreakFast] [bit] NOT NULL,
	[IsLunch] [bit] NOT NULL,
	[IsSnack] [bit] NOT NULL,
	[IsDinner] [bit] NOT NULL,
	[DiscountPer] [int] NOT NULL,
	[SellingPrice] [int] NOT NULL,
	[IsFastMoving] [bit] NOT NULL,
 CONSTRAINT [PK_FoodItem] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[ItemTypeId] [int] NOT NULL,
	[ItemTypeName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ItemType] PRIMARY KEY CLUSTERED 
(
	[ItemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderAmount] [decimal](18, 2) NOT NULL,
	[IsAssigned] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemDetails]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemDetails](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ItemAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderItemDetails] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PaidOnDate] [datetime] NOT NULL,
	[OrderAmount] [decimal](18, 2) NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentCard]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentCard](
	[PaymentCardId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CardNumber] [bigint] NOT NULL,
	[CardHolderName] [nvarchar](50) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[CVV] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentCard] PRIMARY KEY CLUSTERED 
(
	[PaymentCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Role__8AFACE1A13352432] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderId] [int] NOT NULL,
	[SliderText] [nvarchar](50) NOT NULL,
	[SliderTextLink] [nvarchar](100) NOT NULL,
	[SliderOrderNo] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[SliderImagePath] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(201,1) NOT NULL,
	[UserFirstName] [nvarchar](100) NOT NULL,
	[UserLastName] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Mobile] [nvarchar](10) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[ConfirmPassword] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 09-02-2026 09:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryDescritpion], [CategoryImagePath], [CategoryStatus], [CategoryDiscount]) VALUES (101, N'Biryani', N'Biryani is one of the most popular dishes in South Asia and among the South Asian diaspora. The dish is often associated with the region''s Muslim population. Similar dishes are prepared in many other ', N'/images/categories/biryani.jpg', 0, 3)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryDescritpion], [CategoryImagePath], [CategoryStatus], [CategoryDiscount]) VALUES (102, N'starters', N'Starters" are small dishes, also known as appetizers or hors d''oeuvres, served before the main meal to whet the appetite. They can range from simple finger foods and dips to more elaborate hot or col', N'/images/categories/starters.jpg', 1, 20)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryDescritpion], [CategoryImagePath], [CategoryStatus], [CategoryDiscount]) VALUES (103, N'main course', N'A main course is the featured or primary dish in a meal consisting of several courses. The nature of what qualifies as a main course, and how and when it is served, varies cross-culturally. ', N'/images/categories/main course.jpg', 1, 15)
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([DeliveryId], [OrderId], [EmployeeId], [AddressId], [AssignedOn], [ExpectedOn], [DeliveryStatus]) VALUES (2, 2, 5, 5, CAST(N'2026-02-03T06:40:18.9846387' AS DateTime2), CAST(N'2026-02-03T07:25:18.9847122' AS DateTime2), N'Delivered')
INSERT [dbo].[Delivery] ([DeliveryId], [OrderId], [EmployeeId], [AddressId], [AssignedOn], [ExpectedOn], [DeliveryStatus]) VALUES (3, 3, 4, 3, CAST(N'2026-02-03T06:47:47.5580237' AS DateTime2), CAST(N'2026-02-03T07:32:47.5580238' AS DateTime2), N'Delivered')
INSERT [dbo].[Delivery] ([DeliveryId], [OrderId], [EmployeeId], [AddressId], [AssignedOn], [ExpectedOn], [DeliveryStatus]) VALUES (4, 4, 2, 5, CAST(N'2026-02-03T06:50:44.5487718' AS DateTime2), CAST(N'2026-02-03T07:35:44.5487719' AS DateTime2), N'Delivered')
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[DeliveryAddress] ON 

INSERT [dbo].[DeliveryAddress] ([AddressId], [UserId], [AddressLine1], [AddressLine2], [City], [State], [Pincode], [Landmark], [IsDefault], [CreatedOn]) VALUES (1, 210, N'Shivaji Nagar', N'Raj Ranjith Prime Homes', N'Devarakonda', N'TELANGANA', N'508248', NULL, 1, CAST(N'2026-01-31T06:25:43.3800203' AS DateTime2))
INSERT [dbo].[DeliveryAddress] ([AddressId], [UserId], [AddressLine1], [AddressLine2], [City], [State], [Pincode], [Landmark], [IsDefault], [CreatedOn]) VALUES (2, 1204, N'machavaram village', NULL, N'naidupeta', N'ANDHRA PRADESH', N'524131', NULL, 1, CAST(N'2026-01-31T10:24:05.5433699' AS DateTime2))
INSERT [dbo].[DeliveryAddress] ([AddressId], [UserId], [AddressLine1], [AddressLine2], [City], [State], [Pincode], [Landmark], [IsDefault], [CreatedOn]) VALUES (3, 1205, N'machavaram', N'machavaram village', N'naidupeta', N'ANDHRA PRADESH', N'524131', N'near lake', 1, CAST(N'2026-01-31T10:35:05.9607865' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DeliveryAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [FullName], [Email], [Phone], [Role], [IsActive], [CreatedOn]) VALUES (1, N'Arun Kumar', N'arun.delivery@sajik.com', N'9876543210', N'Delivery', 0, CAST(N'2026-01-31T04:58:07.4420000' AS DateTime2))
INSERT [dbo].[Employee] ([EmployeeId], [FullName], [Email], [Phone], [Role], [IsActive], [CreatedOn]) VALUES (2, N'Sanjay R', N'sanjay.delivery@sajik.com', N'9876543211', N'Delivery', 1, CAST(N'2026-01-31T04:58:07.4421788' AS DateTime2))
INSERT [dbo].[Employee] ([EmployeeId], [FullName], [Email], [Phone], [Role], [IsActive], [CreatedOn]) VALUES (3, N'Vignesh S', N'vignesh.delivery@sajik.com', N'9876543212', N'Delivery', 1, CAST(N'2026-01-31T04:58:07.4421788' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackId], [Name], [Subject], [Description], [FeedbackImagePath], [Email], [Mobile], [Status], [RemarksByAdmin], [CreatedOn]) VALUES (1, N'shanmukhi p', N'curries', N'I have tried chicken curry..it was very good.', N'/images/feedbacks/MUTTON CURRY.jpg', N'shannu@gmail.com', N'9745273612', N'Closed', N'thankyou for your feedback.', CAST(N'2026-02-04T11:28:38.5180000' AS DateTime2))
INSERT [dbo].[Feedback] ([FeedbackId], [Name], [Subject], [Description], [FeedbackImagePath], [Email], [Mobile], [Status], [RemarksByAdmin], [CreatedOn]) VALUES (2, N'shanmukhi p', N'curries', N'qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjkl', NULL, N'shannu@gmail.com', N'9745273612', N'Open', N'', CAST(N'2026-02-04T16:24:02.5497315' AS DateTime2))
INSERT [dbo].[Feedback] ([FeedbackId], [Name], [Subject], [Description], [FeedbackImagePath], [Email], [Mobile], [Status], [RemarksByAdmin], [CreatedOn]) VALUES (3, N'shanmukhi p', N'biryani', N'qwertyuioasdfghjklzxcvbnmqwertyuioasdfghjkasdfghjkl', NULL, N'shannu@gmail.com', N'9745273612', N'Open', N'', CAST(N'2026-02-04T16:27:53.4687745' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
INSERT [dbo].[FoodItem] ([ItemId], [CategoryId], [ItemTypeId], [ItemName], [ActualPrice], [Rating], [RatingBy], [ItemImagePath], [ItemDescription], [IsAvailable], [IsBestSeller], [IsBreakFast], [IsLunch], [IsSnack], [IsDinner], [DiscountPer], [SellingPrice], [IsFastMoving]) VALUES (290, 102, 302, N'Chicken Wings', 400, CAST(4.5 AS Decimal(2, 1)), 463, N'/images/foodItems/Chicken wings.jpg', N'Tender wings tossed in flavorful sauces or spices, crispy on the outside and juicy inside.', 1, 1, 0, 1, 0, 1, 10, 360, 1)
INSERT [dbo].[FoodItem] ([ItemId], [CategoryId], [ItemTypeId], [ItemName], [ActualPrice], [Rating], [RatingBy], [ItemImagePath], [ItemDescription], [IsAvailable], [IsBestSeller], [IsBreakFast], [IsLunch], [IsSnack], [IsDinner], [DiscountPer], [SellingPrice], [IsFastMoving]) VALUES (401, 105, 302, N'Chicken Fried Rice', 200, CAST(4.5 AS Decimal(2, 1)), 1000, N'/images/foodItems/Chicken Fried Rice.jpg', N' Juicy chicken pieces stir‑fried with rice and soy sauce.', 1, 1, 0, 1, 0, 1, 20, 160, 1)
GO
INSERT [dbo].[ItemType] ([ItemTypeId], [ItemTypeName]) VALUES (301, N'Veg')
INSERT [dbo].[ItemType] ([ItemTypeId], [ItemTypeName]) VALUES (302, N'Non-Veg')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [OrderAmount], [IsAssigned]) VALUES (1, 1207, CAST(N'2026-02-03T11:19:25.820' AS DateTime), CAST(410.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [OrderAmount], [IsAssigned]) VALUES (2, 1207, CAST(N'2026-02-03T11:21:20.907' AS DateTime), CAST(150.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [OrderAmount], [IsAssigned]) VALUES (3, 1205, CAST(N'2026-02-03T12:16:59.760' AS DateTime), CAST(50.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItemDetails] ON 

INSERT [dbo].[OrderItemDetails] ([OrderItemId], [OrderId], [ItemId], [ItemName], [Quantity], [Price], [ItemAmount]) VALUES (1, 1, 507, N'Keema Dosa', 4, CAST(90.00 AS Decimal(18, 2)), CAST(360.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItemDetails] ([OrderItemId], [OrderId], [ItemId], [ItemName], [Quantity], [Price], [ItemAmount]) VALUES (2, 1, 508, N'Masala Dosa', 1, CAST(50.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItemDetails] ([OrderItemId], [OrderId], [ItemId], [ItemName], [Quantity], [Price], [ItemAmount]) VALUES (3, 2, 435, N'Butter Roti', 1, CAST(50.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItemDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [OrderId], [PaidOnDate], [OrderAmount], [PaymentTypeId], [Status], [UserId]) VALUES (2, 2, CAST(N'2026-02-03T11:21:37.063' AS DateTime), CAST(150.00 AS Decimal(18, 2)), 1, 1, 1207)
INSERT [dbo].[Payment] ([PaymentId], [OrderId], [PaidOnDate], [OrderAmount], [PaymentTypeId], [Status], [UserId]) VALUES (3, 3, CAST(N'2026-02-03T12:17:18.573' AS DateTime), CAST(50.00 AS Decimal(18, 2)), 1, 1, 1205)
INSERT [dbo].[Payment] ([PaymentId], [OrderId], [PaidOnDate], [OrderAmount], [PaymentTypeId], [Status], [UserId]) VALUES (4, 4, CAST(N'2026-02-03T12:19:52.940' AS DateTime), CAST(400.00 AS Decimal(18, 2)), 1, 1, 1207)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentCard] ON 

INSERT [dbo].[PaymentCard] ([PaymentCardId], [UserId], [CardNumber], [CardHolderName], [ExpiryDate], [CVV], [Status]) VALUES (7, 1204, 1234567812349876, N'thanuja', CAST(N'2030-08-01' AS Date), 789, 1)
INSERT [dbo].[PaymentCard] ([PaymentCardId], [UserId], [CardNumber], [CardHolderName], [ExpiryDate], [CVV], [Status]) VALUES (8, 1204, 9876543212347896, N'thanuja', CAST(N'2034-08-01' AS Date), 143, 1)
INSERT [dbo].[PaymentCard] ([PaymentCardId], [UserId], [CardNumber], [CardHolderName], [ExpiryDate], [CVV], [Status]) VALUES (9, 1204, 1234567887654598, N'thanuja', CAST(N'2030-08-01' AS Date), 954, 1)
SET IDENTITY_INSERT [dbo].[PaymentCard] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([PaymentTypeId], [PaymentTypeName]) VALUES (1, N'Debit')
INSERT [dbo].[PaymentType] ([PaymentTypeId], [PaymentTypeName]) VALUES (2, N'Credit')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Customer')
GO
INSERT [dbo].[Slider] ([SliderId], [SliderText], [SliderTextLink], [SliderOrderNo], [CreatedOn], [Status], [SliderImagePath]) VALUES (101, N'Signature Dish & Today''s Special', N'https://www.bing.com/search?qs=LS&pq=biry&sk=CSYN1LS10LC1MT1AS2&sc=18-4&pglt=2083&q=biryani&cvid=006', 1, CAST(N'2026-01-07T17:08:00.000' AS DateTime), 1, N'/images/sliders/1.jpg')
INSERT [dbo].[Slider] ([SliderId], [SliderText], [SliderTextLink], [SliderOrderNo], [CreatedOn], [Status], [SliderImagePath]) VALUES (202, N'Our Story', N'https://www.bing.com/search?qs=LS&pq=biry&sk=CSYN1LS10LC1MT1AS2&sc=18-4&pglt=2083&q=biryani&cvid=006', 2, CAST(N'2026-01-07T16:35:00.000' AS DateTime), 1, N'/images/sliders/2.jpg')
INSERT [dbo].[Slider] ([SliderId], [SliderText], [SliderTextLink], [SliderOrderNo], [CreatedOn], [Status], [SliderImagePath]) VALUES (203, N'Veg & Non-Veg', N'https://www.bing.com/search?qs=LS&pq=biry&sk=CSYN1LS10LC1MT1AS2&sc=18-4&pglt=2083&q=biryani&cvid=006', 3, CAST(N'2026-01-07T16:37:00.000' AS DateTime), 1, N'/images/sliders/3.jpg')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserFirstName], [UserLastName], [CreatedOn], [Status], [Email], [Mobile], [RoleId], [Password], [ConfirmPassword]) VALUES (202, N'Kavya', N'Padarthi', CAST(N'2026-01-17T00:00:00.000' AS DateTime), 1, N'kavya@gmail.com', N'7032189719', 1, N'123456', N'123456')
INSERT [dbo].[User] ([UserId], [UserFirstName], [UserLastName], [CreatedOn], [Status], [Email], [Mobile], [RoleId], [Password], [ConfirmPassword]) VALUES (1204, N'thanuja', N'maggapu', CAST(N'2026-01-27T09:50:33.520' AS DateTime), 1, N'thanuja@gmail.com', N'9700252589', 2, N'4321', N'4321')
INSERT [dbo].[User] ([UserId], [UserFirstName], [UserLastName], [CreatedOn], [Status], [Email], [Mobile], [RoleId], [Password], [ConfirmPassword]) VALUES (1205, N'jagan', N'reddy', CAST(N'2026-01-28T11:48:58.123' AS DateTime), 1, N'jagan@gmail.com', N'9391870122', 2, N'5678', N'5678')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B6160ED62D57B]    Script Date: 09-02-2026 09:20:49 ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [UQ__Role__8A2B6160ED62D57B] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeliveryAddress] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[DeliveryAddress] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('Delivery') FOR [Role]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_DeliveryAddress] FOREIGN KEY([AddressId])
REFERENCES [dbo].[DeliveryAddress] ([AddressId])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_DeliveryAddress]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Employee]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Order]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [FK_FoodItem_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [FK_FoodItem_Category]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [FK_FoodItem_ItemType] FOREIGN KEY([ItemTypeId])
REFERENCES [dbo].[ItemType] ([ItemTypeId])
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [FK_FoodItem_ItemType]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderItemDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemDetails_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItemDetails] CHECK CONSTRAINT [FK_OrderItemDetails_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[PaymentCard]  WITH CHECK ADD  CONSTRAINT [FK_PaymentCard_PaymentCard] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[PaymentCard] CHECK CONSTRAINT [FK_PaymentCard_PaymentCard]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
